<html>
<head>
    <meta charset="urf-8">
    <title>get-file-from-sfdc</title>
<body>
    <h1>Restful Api Sample</h1>
    <h3>Welcome!</h3>
    <p> 'api/users' to login</p>
    <p> 'api/search' to get files</p>
</body>
</html>
