<html>
<head>
    <meta charset="urf-8">
    <title>get-file-from-sfdc</title>
<body>
    <h1>Restful Api Sample</h1>
    <form action="/api/search/" method="">
        <input type="text" id="reqName" name="reqName"/>
        <input type="submit" value="Downloads" />
    </form>
</body>
</html>
